<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <listeners>
        <listener class-name="GenericLibrary.ListenerImplementationClass"/>
    </listeners>
    <!-- Include your test classes here -->
    <test name="My test">
        <classes>
            <class name="PingTest.FormTests">
            <methods> 
            <include name="loadTicketReportTest"/>
            </methods>
            </class>
        </classes>
    </test>
</suite>
